{% extends 'base.twig' %}
{% set title = person.username %}

{% block main %}
  <h1>{{ person.username }}</h1>
  <hr>
  <p>Results:</p>
  <div class="results-container">
    {% for result in results %}
      <div class="result">
        <pre>{{ result.toShare }}</pre>
      </div>
    {% endfor %}
  </div>
  <a href="/home">home</a>
{% endblock %}