{% extends 'base.twig' %}
{% set title = 'Home' %}

{% block main %}
  <p>Welcome back, {{ me.username }}</p>
  <hr>
  <p><a href="/r/add">Add New Result</a></p>
  <p><a href="/u/{{ me.username }}">View My Profile</a></p>
  <p><a href="/logout">logout</a></p>

{% endblock %}