{% extends 'base.twig' %}
{% set title = "Add Result" %}

{% block main %}
<h1>Add Result</h1>
<hr>
  <form method="post" action="/r/add">
    <p>
      <label for="text">Paste wordle emojis here</label><br>
      <textarea id="text" name="text"></textarea>
    </p>

    <p>
      <input type="submit" value="Add">
    </p>
  </form>
  <a href="/">home</a>
{% endblock %}