{% extends 'base.twig' %}
{% set title = 'Settings' %}

{% block header %}
  {% if me %}<a class="button" href="/r/add">Add Result</a><a class="button" href="/leaderboard">Leaderboard</a><a class="button" href="/settings">Settings</a><a class="button" href="/logout">Logout</a>{% else %}<a class="button" href="/login">Login / Register</a>{% endif %}
{% endblock %}

{% block main %}
  <div class="settings-container grey-box centered-container">
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}
    <form action="/settings/delete" method="post">
      <p>
        <label for="settings_deletepass">Are you sure you want to delete your account?<br><br>This will remove your account, results, and stats. <strong>This cannot be undone!</strong><br><br>Type your password below to confirm:</label>
        <input id="settings_deletepass" name="password" placeholder="Password" type="password">
      </p>
      <p>
        <input class="button deletebutton" type="submit" value="Delete Account">
      </p>
    </form>
  </div>
{% endblock %}