{% extends 'base_login.twig' %}
{% set title = 'Login' %}

{% block main %}
  <div class="login-form grey-box">
    <form action="/login" method="post">
      <h1>trackle</h1>
      <h2>A tracker for <a target="_blank"href="https://powerlanguage.co.uk/wordle">wordle</a>.</h2>
      {% if message %}
      <div class="login-form-message">{{ message }}</div>
      {% endif %}
      <input id="username" name="username" type="text" placeholder="username">
      <input id="password" name="password" type="password" placeholder="password">
      <div class="login-form-footer">
        <p>Not registered? <a href="/register">Create an account</a>.</p>
        <input class="button" type="submit" value="Login">
      </div>
    </form>
  </div>
{% endblock %}