{% extends 'base_login.twig' %}
{% set title = 'Register' %}

{% block main %}
  <div class="login-form grey-box">
    <form action="/register" method="post">
      <h1>trackle</h1>
      <h2>A tracker for <a target="_blank"href="https://powerlanguage.co.uk/wordle">wordle</a>.</h2>
      {% if message %}
      <div class="message">{{ message }}</div>
      {% endif %}
      <input id="username" name="username" type="text" placeholder="username">
      <input id="email" name="email" type="email" placeholder="email">
      <input id="password" name="password" type="password" placeholder="password">
      <div class="login-form-footer">
        <p>Already have an account? <a href="/login">Login</a>.</p>
        <input class="button" type="submit" value="Register">
      </div>
    </form>
  </div>
{% endblock %}