<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title ? title|raw : 'Page'}} | ledge.club</title>
  <link rel="stylesheet" href="/vendor/drmonty/leaflet/css/leaflet.css" />
  <script src="/vendor/drmonty/leaflet/js/leaflet.min.js"></script>
</head>
<body>
{% block main %}
  {# MAIN PAGE GOES HERE #}
{% endblock %}
</body>
</html>