<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>{{ title ? title|raw : 'Page'}} | trackle</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link href="/assets/img/icon.png" rel="icon shortcut" sizes="144144" />
  <link href="/assets/img/icon.png" rel="apple-touch-icon" />
  <meta name="apple-mobile-web-app-title" content="trackle">
</head>
<body>
<div class="container login">
{% block main %}
  {# MAIN PAGE GOES HERE #}
{% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>